<!DOCTYPE html>

<html>
    <!--
    <head>
        % include header.html %

        <link rel="stylesheet" href="{{site.url}}/styles/font.css">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{site.url}}/styles/post.css">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{site.url}}/styles/post_mobile.css">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{site.url}}/styles/navigatebar.css">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{site.url}}/styles/navigatebar_mobile.css">
        <link rel="stylesheet" href="{{site.url}}/theme/highlight.css">
    </head>
-->
    <body>
        <!-- % include navigatebar.html % -->
        <div class="navigatebar">
          <div class="navigatebar-button navigatebar-mine">
            <a href="{{ site.url }}{{site.baseurl}}/">Home</a>
          </div>
          <div class="navigatebar-button">
            <a href="{{ site.url }}{{site.baseurl}}/tags.html">Tags</a>
          </div>
          <div class="navigatebar-button">
            <a href="{{ site.url }}{{site.baseurl}}/feed.xml">Feeds RSS</a>
          </div>
          <div class="navigatebar-button navigatebar-about">
            <a href="{{ site.url }}{{site.baseurl}}/about/">About</a>
          </div>
        </div>

        <div class="slogan">
          「生活可以更简单, 欢迎来到我的开源世界」
        </div>

        <div class="content-area">
            <div class="title">
                {{ page.title }}
            </div>
            <div class="category-area">
                「{% for category in page.categories %}
                <a href="{{ site.url }}{{ site.baseurl }}/tags.html#{{ category }}">
                    <div class="category">
                        {{ category }}
                    </div>
                </a>
                {% endfor %}」
            </div>
            <div class="char-counter">
              {{ page.date | date: "%Y-%m-%d" }} {{ page.content | strip_html | strip_newlines | remove: " " | size }}字
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>
